<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825093597041-kd22kq69mq37r3chvf7q2u3k5ntvkt35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825093597041-kd22kq69mq37r3chvf7q2u3k5ntvkt35</string>
	<key>API_KEY</key>
	<string>AIzaSyBwllBxNpIMQFmQ_tBkDX-YRwdM-Ftserc</string>
	<key>GCM_SENDER_ID</key>
	<string>825093597041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MVK.TheMovieApp</string>
	<key>PROJECT_ID</key>
	<string>themovieapp-abdad</string>
	<key>STORAGE_BUCKET</key>
	<string>themovieapp-abdad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825093597041:ios:ec7b588f287c81da1138d0</string>
</dict>
</plist>